* {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bolder;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: lightgray;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

/* header1 */

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 .menus {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.header1 .menus li {
  margin-left: 10px;
}

/* header2 */

.header2 {
  display: flex;
  align-items: center;
}

.header2 .menus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* header3 */

.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header3 .menus {
  display: flex;
}

.header3 .menus li {
  margin-left: 10px;
}

/* headers4 */

.header4 {
  display: flex;
  align-items: center;
}

div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header4 .menus {
  display: flex;
  margin-left: 10px;
}

.header4 .menus li {
  margin-left: 10px;
}

.login {
  display: flex;
}

.login li {
  margin-left: 10px;
}
